body, html
	padding: 0
	margin : 0
	height: 600px
	width : 650px
	background-color: #FAFAFA

#navbar-top
	.mdl-layout__drawer-button
		i
			line-height: 48px

.mdl-card__title
	position: relative
	.background-podcast-card
		display: block
		position: absolute
		background-size: cover
		top: 0
		left: 0
		height: 100%
		width: 100%
		filter: blur(5px)
		-webkit-filter: blur(5px)

.mdl-card__title-text
	color: #fff
	background-color: rgba(0,0,0,.5)
	width: 100%
	padding: 15px
	position: absolute
	left: 0px
	bottom: 0px

.mdl-card
	width: 280px
	height: 280px
	float: left
	margin: 18px

.mdl-card__supporting-text p
	overflow: hidden
	text-align: justify
    height: 60px !important

.loader
	transition: all 1s ease
	top: 0
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background: rgba(255,255,255,.8)
	z-index: -10
	opacity: 0
	&.is-active
		z-index: 1000
		opacity: 1

	.mdl-spinner
		width: 100px
		height: 100px
		position: absolute
		top: 50%
		left: 50%
		margin-left: -50px
		margin-top: -50px
.mdl-layout__content
	padding-bottom: 100px 
.player
	position: absolute
	bottom: 0px
	left: 0px
	width: 100%
	height: 100px
	background-color: #FAFAFA
	z-index: 1
	transform: translateX(-15px)

	.controls, .slider
		display: inline-block
		padding-top: 17px
	.slider
		width: 320px
		float: right
		margin-top: 19px

	.controls
		float: left
		transform: translateX(15px)
		i
			color: #20797F
		.mdl-button
			background-color: #F3F3F3
		.btn-backward, .btn-forward
			font-size: 11px
			width: 30px !important
			height: 30px !important
			margin: 10px
			min-width: inherit

.podcast-list-all
	max-width: 100%
	margin: 0px auto
	border-collapse: collapse
	border-spacing: 0

	.title-podcast-list
		margin: 0px auto

	.tr-podcast
		background-color: white
		border-bottom: 1px solid #FAFAFA

		.name-podcast
			padding-left: 10px
		.control-podcast
			padding: 0px 10px
			min-width: 60px

.title-podcast-list
	padding-left: 10px
	color: rgb(172, 172, 172)