link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
link(rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet" href="http://code.getmdl.io/1.2.0/material.teal-blue.min.css")
link(rel="stylesheet" href="/assets/css/font-awesome.min.css")
link(rel="stylesheet" href="/dist/css/style.min.css")
script(defer src="/node_modules/jquery/dist/jquery.min.js")
script(defer src="/assets/js/handlebars.js")
script(defer src="/assets/js/material.min.js")
script(src="/dist/js/main.min.js")