.player
	.controls
		button.btn-backward.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
			i.fa.fa-backward
		button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
			i.fa.fa-play
		button.btn-forward.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
			i.fa.fa-forward
		span.time 00:00:00 / 00:00:00
	.slider
		input(class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="0" tabindex="0")